doctype html
html
  head
    title 上海海事大学学工系统“两随机一公开”工作交流
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
  body
    block content
