extends layout

block content
  #logo(align='center')
    img(src='/images/SMU-inverse.png', alt='logo', width='30%')
  #sys(align='center')
    h1= title
  ul#gallery
  div(style='clear:both')
  div(style='text-align:center; padding-top:60px;')
    button#action(class='button button-3d button-action button-pill button-jumbo', style='font-size:40px; width:200px; margin-right:20px', data-action='start') 开始
    button#refresh(class='button button-3d button-action button-pill button-jumbo', style='font-size:40px; width:200px; margin-right:20px', data-action='refresh') 刷新
    button#all(class='button button-3d button-action button-pill button-jumbo', style='font-size:40px; width:auto;', data-action='all') 显示所有辅导员
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/buttons.js')
  script(src='/javascripts/index.js')